[Unit]
Description=node daemon
Requires=node_{{ project_name }}.socket
After=network.target

[Service]
User=webadmin
Group=www-data
WorkingDirectory={{ project_path }}/dist/ssr
ExecStart=/usr/bin/node {{ project_path }}/dist/ssr/index.js

[Install]
WantedBy=multi-user.target
